body{background-color: rgb(227, 227, 227);
}
.mb-3 {color: white}
p{color: white;}
footer{text-align: center;}
#kuva2 {      width: 250px;
    height: 250px;}
#kuva1 {      width: 250px;
        height: 250px;}
.oikea {color: white;
}
.oikea li {list-style-type: none;}
header{text-align: center;
justify-content: center;
color: lightgray;
padding: 15px;}
footer{margin-top: 30px;}
#otsikko1{padding: 15px;
padding-top: 30px;}
#terve {padding: 10px}
.contact-card {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 200px;
    background-color: rgba(225, 225, 225, 0.75);
  }
  .contact-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .contact-section {
    background-color: rgba(138, 138, 138, 0.75);
    padding: 40px 20px;
    border-radius: 10px;
  }
  .contact-card h5 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .contact-info {
    text-align: left;
  }
  .contact-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: black;
  }
  .contact-info span {
    font-weight: bold;
  }
  .carousel-item img{
    width: 600px;
    height: 800px;
    object-fit: cover;
   }

  .caption-bg {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  .carousel-caption h5 {color: white;}

  .carousel-caption a {
    color: #ffffff;
    text-decoration: underline;
  }

  .carousel-caption a:hover {
    color: #404040;
  }

  .carousel {
    margin-bottom: 0;
  }
  footer {
    margin-top: 0;
    padding-top: 0;
  }

#valikko li{list-style: none;
padding: 2px;}
#valikko a {text-decoration: none;
color: gray;
text-align: left;}
#valikko a:hover{text-decoration: underline;}
#carousel1 img{
  height: 300px;
}
#carousel2 img{
  height: 300px;
}
#carousel3 img{
  height: 300px;
}
.card-text {color: black;}
#horizontal {position: sticky;}
#airmax {
  color: #000000;
  text-shadow: 1px 1px 4px #7e7e7e;;}
#lowgrey {color: #000000;
  text-shadow: 1px 1px 4px #7e7e7e;}
#wutang {color: #000000;
  text-shadow: 1px 1px 4px #7e7e7e;}
#supreme {color: #000000;
  text-shadow: 1px 1px 4px #7e7e7e;}
#yeezy {color: #000000;
  text-shadow: 1px 1px 4px #7e7e7e;}
#jordan1 {color: #000000;
  text-shadow: 1px 1px 4px #7e7e7e;}
h2 {color: #000000;
font-family: 'Times New Roman', Times, serif;
text-shadow: 1px 1px 3px #7e7e7e;}
#click {color: #000000;
text-align: center;}
.card-body a {background-color: #7e7e7e;
border: 2px #000000;}
.card-body a:hover {background-color: #404040;}
    .img-fluid {
      transition: transform 0.3s ease;
    }
    .img-fluid:hover {
      transform: scale(1.1);
    }
    .teksti {color: white;}
    .copyright {text-align: center;
    padding: 20px;
    background-color: rgb(239, 239, 239);}
    .btn {background-color: #000000;}